.header {
font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-align: center;
  background: #720000;
  color: white;
  font-size: 20px;
}
.btn {
font-family: Arial, Helvetica, sans-serif;
transition-duration: 0.4s;
  background-color: #720000; 
  color: white;
  padding: 10px 43px;
  border: 2px solid #720000;
}
.btn:hover {
  background-color: white;
  color: #720000;
}
.btn2 {
font-family: Arial, Helvetica, sans-serif;
transition-duration: 0.4s;
  background-color: #720000; 
  color: white;
  padding: 10px 41px;
  border: 2px solid #720000;
}
.btn2:hover {
  background-color: white;
  color: #720000;
}
.btn3 {
font-family: Arial, Helvetica, sans-serif;
transition-duration: 0.4s;
  background-color: #720000; 
  color: white;
  padding: 10px;
  border: 2px solid #720000;
}
.btn3:hover {
  background-color: white;
  color: #720000;
}